<div>
  <ul class="menu-selection">
    <li class="menu-selection-item" [routerLink]="['/','download']">SCARICA L'APP</li>
    <li class="menu-selection-item" [routerLink]="['/','spot']">GENERA QR</li>
  </ul>
</div>

<div class="app-box">
  <img src="../../assets/images/11pro-mock2.png" alt="App" class="mock-up-2">
  <img src="../../assets/images/11pro-mock1.png" alt="App" class="mock-up-1">
  <div class="app-title">
    <h2>SILPH CARE</h2>
    <h6>privacy matters health too</h6>

    <p class="app-desc">
      Il progetto SILPH CARE&trade; nasce dall'idea di fornire alla popolazione uno strumento sicuro ed affidabile
      per gestire interazioni sociali, gli spostamenti quotidiani e le comunicazioni col proprio medico di base.
      <br>
      Il Contact-Tracing come lo intendiamo in SILPH Technologies.
      <br>
      Sicuro, anonimo e decentralizzato.
    </p>

<!--    <a class="brk-btn" [routerLink]="['/','care']">-->
<!--      SCOPRI DI PIÙ-->
<!--    </a>-->
  </div>
</div>
